.content-main h1, .content-main h2, .content-main h3
  display: block;
  font-size: 1.8em
  -webkit-margin-before: 0.83em
  -webkit-margin-after: 0.83em
  -webkit-margin-start: 0px
  -webkit-margin-end: 0px
  font-weight: bold
.content-main h5 
  display: block;
  font-size: 1.5em
  -webkit-margin-before: 0.83em
  -webkit-margin-after: 0.83em
  -webkit-margin-start: 0px
  -webkit-margin-end: 0px
  font-weight: bold 
  
.content-main h4
  font-size: 14px
  line-height: 1.5

.content-main ul ul, .content-main ol ul
  display: block
  -webkit-margin-before: 1em
  -webkit-margin-after: 1em
  -webkit-margin-start: 0px
  -webkit-margin-end: 0px
  -webkit-padding-start: 40px
  list-style-type: circle

.content-main ul, .content-main menu, dir {
  display: block
  list-style-type: disc
  -webkit-margin-before: 1em
  -webkit-margin-after: 1em
  -webkit-margin-start: 0px
  -webkit-margin-end: 0px
  -webkit-padding-start: 40px
}

.content-main li
  display: list-item
  text-align: -webkit-match-parent
  font-size: 14px
  line-height: 1.5

.content-main ul > li > ul > li
  list-style: circle

.content-main a
  text-decoration: none
  color: #ff4081
  user-select: none
  -webkit-user-select: none
  
.content-main img 
  width: 100%
  
.content-main code, kbd, pre, samp
    font-family: monospace,monospace
    font-size: 1em

.content-main pre
  white-space: pre-wrap
  word-break: break-all
  margin: 10px


.content-main blockquote
  display: block
  -webkit-margin-before: 1em
  -webkit-margin-after: 1em
  -webkit-margin-start: 40px
  -webkit-margin-end: 40px
  
.content-main p
  font-size: 14px
  line-height: 1.5
  font-weight: 400

  