h2, h3
  display: block;
  font-size: 1.8em
  -webkit-margin-before: 0.83em
  -webkit-margin-after: 0.83em
  -webkit-margin-start: 0px
  -webkit-margin-end: 0px
  font-weight: bold
h5 
  display: block;
  font-size: 1.5em
  -webkit-margin-before: 0.83em
  -webkit-margin-after: 0.83em
  -webkit-margin-start: 0px
  -webkit-margin-end: 0px
  font-weight: bold
p
  font-size: 14px
  line-height: 1.5
  font-weight: 400
  text-indent: 28px
  
ul ul, ol ul
  display: block
  -webkit-margin-before: 1em
  -webkit-margin-after: 1em
  -webkit-margin-start: 0px
  -webkit-margin-end: 0px
  -webkit-padding-start: 40px
  list-style-type: circle

ul, menu, dir {
  display: block
  list-style-type: disc
  -webkit-margin-before: 1em
  -webkit-margin-after: 1em
  -webkit-margin-start: 0px
  -webkit-margin-end: 0px
  -webkit-padding-start: 40px
}

li
  display: list-item
  text-align: -webkit-match-parent
  font-size: 14px
  line-height: 1.5
  
a
  text-decoration: none
  color: #ff4081
  user-select: none
  -webkit-user-select: none
  
code, kbd, pre, samp
    font-family: monospace,monospace
    font-size: 1em

pre
  white-space: pre-wrap
  word-break: break-all
  margin: 0


blockquote
  display: block
  -webkit-margin-before: 1em
  -webkit-margin-after: 1em
  -webkit-margin-start: 40px
  -webkit-margin-end: 40px
  