@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?std4w9');
  src:  url('../fonts/icomoon.eot?std4w9#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?std4w9') format('truetype'),
    url('../fonts/icomoon.woff?std4w9') format('woff'),
    url('../fonts/icomoon.svg?std4w9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cancel:before {
  content: "\e904";
}
.icon-chevron-down:before {
  content: "\e903";
}
.icon-chevron-up:before {
  content: "\e902";
}
.icon-message:before {
  content: "\e900";
}
.icon-thumb_down:before {
  content: "\e908";
}
.icon-thumb_up:before {
  content: "\e909";
}
.icon-user:before {
  content: "\e971";
}
.icon-home2:before {
  content: "\e901";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-user:before {
  content: "\e971";
}
.icon-search:before {
  content: "\e986";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-eye-blocked:before {
  content: "\e9d1";
}
.icon-star-empty:before {
  content: "\e9d7";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-arrow-left2:before {
  content: "\ea40";
}
