/* 颜色 */
$color-background = RGB(255,255,255)
$color-background-d = RGB(71,74,79)
$color-text = #474a4f
$color-text-l = rgba(255, 255, 255, 0.5)
$color-title = #fff
/* 字体 */ 
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 20px